.container {
    margin: auto;
    width: 70%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
}

.s {
    background-color: blue;
    width: 150px;
    height:150px;
    margin: 10px;
    border: 1px solid black;
    
}

img {
    width: 150px;
    height: 150px;
}